body{
    background-color: antiquewhite;
    font-family: Georgia;
}

/*Header*/
header{
    box-shadow: 2px 5px 5px black;
}

nav{
    display: flex;
    background-color: gray;
    justify-content: space-around;
}

form{
    display: flex;
    align-items: center;
}

input{
    border-radius: 10px;
}

.liste-nav{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0 ;
}

.liste-nav li{
    text-align: center;
}

.liste-nav a{
    color: black;
    text-decoration: none;
    padding: 14px 16px;
}

.liste-nav a:hover{
    background: dimgray;
    color: black;
}

/*Main index*/
main{
    padding: 4%;
}

.presentation{
    text-align: center;
}

/*galerie photo index*/
.galerie{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.galerie img{
    width: 100%;
    max-width: 200px;
    height: 145px;
    object-fit: cover;
}

/*services index*/
.services{
    display: flex;
    justify-content: space-evenly;
}

.services article{
    width: 28%;
}

.services article img{
    height: 20px;
}

/*Main entreprise*/
.entreprise{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.entreprise img{
    padding: 5px;
}

.galerie-entreprise{
    display: flex;
}

.photo-marie-justine{
    display: flex;
    flex-direction: column;
}
.photo-marie-justine img{
    max-width: 200px;
}

.photo-alice img{
    max-width: 295px;
}

.nos-engagements{
    max-width: 500px;
}

/*main contact*/
.formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

label{
    padding: 3% 0;
}

/*main réalisation*/
.titre-réalisation{
    text-align: center;
}
.realisation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.realisation img{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 5px 5px black;
}

/*footer*/
footer{
    height: 50px;
    background: gray;
    box-shadow: 2px 5px 5px black;
}

