body{
    background-color: antiquewhite;
    font-family: Georgia;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 5em;
    font-weight: 100;
    margin: 0;
}


/*Header*/

ul {
	padding: 0px;
}

header {
	box-shadow: 2px 5px 5px black;
}

/* MENU Styles communs */
nav {
	text-align: center;
	margin: 0px auto;
	background-color: gray;
}

nav a {
	font-size: 22px;
	padding: 5px;
	text-decoration: none;
	color: #262d35;
}

nav a:hover {
	color: white;
	background-color: dimgray;
	transition: 0.5s;
}

/* MENU Style BUREAU */
nav label,
nav input {
	display: none;
}

.slide li {
	/* Styles liens desktop */
	display: inline-block;
	padding: 10px 5%;
}

/* MENU RWD */
@media (max-width: 1024px) {	
    h1{
        font-size: 3em;
    }

    nav {
		width: 100%;
	}

	nav label,
	nav input {
		display: block;
	}

	span {
		/* Entête du menu */
		padding: 10px 20px;
		background: #2d2f31;
		/* Couleur de l'entête du menu */
		color: white;
		font-size: 22px;
		cursor: pointer;
		display: block;
	}

	span::after {
		float: right;
		right: 10%;
		content: "+";
	}

	.slide {
		/* Menu déroulant */
		clear: both;
		background-color: #eeeeee;
		width: 100%;
		height: 0px;
		overflow: hidden;
		text-align: center;
		transition: height .4s ease;
	}

	.slide li {
		/* Styles liens mobile */
		display: block;
		width: 100%;
		padding: 10px 0px;
	}

	#touch {
		/* Checkbox invisible */
		position: absolute;
		opacity: 0;
		height: 0px;
	}

	#touch:checked+.slide {
		height: 200px;
	}
}
/*---------------------------------------index------------------------------------------------*/
/*Main index*/
main{
    padding: 4%;
}

.presentation{
    text-align: center;
}

/*galerie photo index*/
.galerie{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.galerie img{
    width: 100%;
    max-width: 200px;
    height: 145px;
    object-fit: cover;
}

/*services index*/
.services{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.services article{
    width: 28%;
    max-width: 520px;
    min-width: 250px;
}

.services article img{
    height: 20px;
}
/*-----------------------------------------entreprise----------------------------------------------*/
/*Main entreprise*/
.entreprise{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.entreprise img{
    padding: 5px;
}

.galerie-entreprise{
    display: flex;
}

.photo-marie-justine{
    display: flex;
    flex-direction: column;
}
.photo-marie-justine img{
    max-width: 200px;
}

.photo-alice img{
    max-width: 295px;
}

.nos-engagements{
    max-width: 500px;
}
.nos-engagements h1{
    font-size: 4em;
}


@media (max-width: 1024px){
    .galerie-entreprise img{
        width: 40vw;
    }
    .photo-alice{
        display: contents;
        height: 100%;
    }
    .photo-alice img{
        max-width: 100%;
        object-fit: cover;
    }
}
/*-----------------------------------------contact---------------------------------------*/
/*main contact*/
.contact h1, p{
    margin: 1em auto;
    text-align: center;
}
.formulaire{
    align-items: center;
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

.formulaire label{
    display: block;
    margin: 3% 0;
}

.formulaire input, select {
    border: 1px solid #0a0a23;
    color: black;
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

.TnC{
    display: flex;
    justify-content: center;
}

.inline{
    display: inline;
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #2d2f31;
    border-color: black;
    min-width: 300px;
    max-width: 500px;
  }
/*-------------------------------------realisation--------------------------------------*/
/*main réalisation*/
.titre-réalisation{
    text-align: center;
}
.realisation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px 10px;
}

.realisation img{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 5px 5px black;
}


/*--------------------------------------footer-----------------------------------------
*/
/*footer*/
footer{
    height: 50px;
    background: gray;
    box-shadow: 2px 5px 5px black;
}